# Ignore virtual environment
env/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
*.sqlite3
*.db

# Flask instance folder (optional)
instance/

# Environment variables
.env
