{% extends "base.html"%}

{% block title %} Index Page {% endblock %}

{% block content %} 

    <h1>Hello World</h1>

    <form method="POST" action="{{ url_for('index') }}">

        <input type="text" name="username" placeholder="Username"> <br>
        <input type="password" name="password" placeholder="Password"> <br>

        <input type="submit" value="Login">
    </form>
    

   <h1>File Upload</h1>

<form method="POST" action="{{ url_for('file_upload') }}" enctype="multipart/form-data">
    <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, text/plain" required>

    <input type="submit" value="Upload File">
</form>



<h1>Convert to Csv</h1>

<form method="POST" action="{{ url_for('convert_csv') }}" enctype="multipart/form-data">
    <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>

    <input type="submit" value="Upload File">
</form>

<h1>Convert to Csv Two</h1>

<form method="POST" action="{{ url_for('convert_csv_two') }}" enctype="multipart/form-data">
    <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>

    <input type="submit" value="Upload File">
</form>

<h1>
    Javascript JSON Request
</h1>

<button id="post_button">Send POST Request</button>

<script type="text/javascript">
const postButton = document.getElementById('post_button');

const jsonData = { name: 'Sudesh', greeting: "Hello" };

postButton.addEventListener('click', () => {
    fetch('{{ url_for("handle_post") }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json; charset=UTF-8'  
        },
        body: JSON.stringify(jsonData)
    })
    .then(response => response.json())
    .then(data => console.log('Success', data))
    .catch((error) => {
        console.error("Error", error);
    });
});
</script>

{% endblock %}

        
